body{
    margin:0;
}
#myheader{
    background-color:lightgrey;
    padding:1em;
    border:1px solid black;
}
h1{
    margin-top:0;
    margin-left:12em;
    display:inline;
}
form>div{
    margin-bottom:1em;
}
img{
    width:100px;
    height:100px;
    border-radius: 50%;
}

form{

    padding:1em;
    border:1px solid darkslategray;
    width:500px;
}
footer{
    background-color:lightgrey;
    padding:1em;
    border:1px solid black;
}